//info layout

.info {
	clear: both;
	float: left;
	padding-top: 70px;
	padding-bottom: 100px;
	div {
		float: left;
		padding-left: $main-padding;
		text-align: center;
		width: 22.65%;
	}
}

//business info layout

.business-info {
	clear: both;
	float: left;
	width: 100%;
	img {
		float: left;
		height: 100%;
		width: 50%;
	}
	div {
		float: right;
		height: 83.25%;
		width: 38.67%;
		padding: 4.69% 6.25% 0 0;
		button {
			border-radius: 5px;
			padding: 10px 20px;
		}
	}
}