//footer layout

.footer {
	background-image: url('../img/footer/background.jpg');
	clear: both;
	float: left;
	height: 220px;
	margin-top: 145px;
	width: 100%;
	div {
		margin-left: 7.26%;
		float: left;
		font-size: 10px;
		width: 16.4%;
	}
	img {
		margin-right: 15px;
	}
}