//slider layout

.slider {
	clear: both;
	float: left;
	margin-top: 80px;
	padding-left: $main-padding + 7;
	.slider-info {
		float: left;
		width: 34.76%;
	}
	.slider-img {
		float: left;
		margin-left: 10%;
		height: 98%;
		width: 27%;
	}
}
